[Unit]
# Update description to match TUNNEL_V6_DEV and TUNNEL_NAME in network.conf
Description=IPv6 tunnels (<TUNNEL_NAME> ipip6)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/scripts/tunnel-boot.sh apply
ExecStop=/root/scripts/tunnel-boot.sh teardown

[Install]
WantedBy=multi-user.target
